{% extends "base.html" %}
{% block title %}Add Task{% endblock %}

{% block content %}
<div class="col-md-6 mx-auto">
  <div class="content-card">
    <h3 class="text-center fw-bold mb-4">Add New Task ✅</h3>

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label fw-semibold">Task Title</label>
        <input type="text" name="title" class="form-control" placeholder="Enter your task..." required>
      </div>

      <div class="mb-4">
        <label class="form-label fw-semibold">Due Date</label>
        <input type="date" name="due_date" class="form-control" required>
      </div>

      <div class="d-flex justify-content-between">
        <a href="{% url 'task_list' %}" class="btn btn-outline-secondary">
          ← Back
        </a>

        <button type="submit" class="btn btn-success">
          + Save Task
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}