{% extends "base.html" %}
{% block title %}Update Task{% endblock %}

{% block content %}
<div class="col-md-6 mx-auto">
  <div class="content-card">

    <h3 class="text-center fw-bold mb-4">Update Task ✏</h3>

    <form method="post">
      {% csrf_token %}

      <!-- Title -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Task Title</label>
        <input type="text" name="title" value="{{ task.title }}" class="form-control" required>
      </div>

      <!-- Date -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Due Date</label>
        <input type="date" name="due_date" value="{{ task.due_date|date:'Y-m-d' }}" class="form-control" required>
      </div>

      <!-- Completed -->
      <div class="form-check mb-4">
        <input type="checkbox" name="completed" class="form-check-input"
        {% if task.completed %}checked{% endif %}>
        
        <label class="form-check-label fw-semibold">
          Mark as completed
        </label>
      </div>

      <!-- Buttons -->
      <div class="d-flex justify-content-between">
        <a href="{% url 'task_list' %}" class="btn btn-outline-secondary">
          ← Back
        </a>

        <button type="submit" class="btn btn-success">
          ✔ Update
        </button>
      </div>

    </form>
  </div>
</div>
{% endblock %}