{% extends "base.html" %}
{% block content %}

<div class="card mina-card p-4 bg-white col-md-6 mx-auto">
    <h4 class="fw-cold b-4 text-center">Add new Task</h4>
    <form action="" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label fw-semibold">Task Title</label>
            <input type="text" name="title" class="from-control" placeholder="ENTER your task title" required>
        </div>
        <div class="mb-4">
            <label class="form-label fw-semibold">Due Date</label>
            <input type="date" name="due_date" class="from-control" required>
        </div>

        <div class="d-flax justify-content-between">
            <a href="{% url 'task_list' %}" class="btn btn-outline-secondary btn-custom">
                Back
            </a>

            <button type="submit" class="btn btn-success btn-custom">
                save task
            </button>

        </div>
    </form>

</div>


{% endblock %}